// Breakpoints
$tablet-bp: 1023.98px;
$mobile-bp: 559.98px;

// Units

:root {
    // Colors
    --bg-color: #fff;
    --text-color: #000;

    // Fonts
    --main-font: "Inter", "Arial", sans-serif;
}
